html, body {
    font-family: 'Open Sans', sans-serif;
    color: #212121;
    margin: 0 0;
    height: 100%;
}

/* header styling */

header {
    top: 0;
    height: 150px;
    padding: 15px;
    color: #fff;
    background-image: url('../img/reslifebackground.jpg');
    background-position-x: center;
}

.title > h2 {
    text-align: center;
    margin: 0 auto;
    padding-top: 25px;
}

/* footer styling */

footer {
    position: fixed;
    text-align: left;
    padding: 20px 10%;
    margin-bottom: 10px;
    bottom: 0;
}

/* Menu styling */

.menu-btn {
    width: 32px;
    top: 16px;
    left: 16px;
    position: absolute;
}

.menu-btn-bar {
    width: 100%;
    background-color: #fff;
    height: 4px;
    margin-top: 6px;
}

.menu-btn-bar:first {
    margin-top: 0px;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 48px;
    height: 100%;
    width: 0px;
    overflow-x: 0;
    background-color: #424242;
    color: #fff;
}

nav > ul {
    list-style: none;
}

.menu-section {
    display: block;
}

.menu-link {
    color: #fff;
    display: none;
}

.menu-link:hover {
    text-decoration: none;
}

/* main content */

main {
    margin-top: 10px;
    padding: 20px 10%;
}   